/* 
fazer root
mudar px para rem
fazer caption no fullimg
 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

:root {
    --fonte-principal: 'Courier New';
    --azul-escuro: #445566;
    --cinza-escuro: #3e3b3b;
    --claro: #91a2b7;
    --cor-link: #c8953d;
}


html, body {
    min-height: 100%;
}

h1 {


    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}

body {
    background: var(--cinza-escuro);
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor-link);
    font-size: 1rem;
    text-decoration: none;
    
}

a:visited {

    color: var(--cor-link);
}

.legenda {

    font-size: 0.75rem;
    color: var(--claro);
}
.logo_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.header {
    color: var(--claro);
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cinza-escuro);
    text-align: center;
    padding: 6% 0% 6% 0%;
    display: block;
    
}

.footer {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: var(--claro);
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cinza-escuro);
    padding: 4% 0% 2% 0%;
    display: block;
    
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
} 

.img-gallery img {
    width: 100%;
    cursor: pointer;
    
}

.img-gallery img:hover {

    transform: scale(1.1);
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
        
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.85);
        position: fixed;
        top: 0;
        left: 0;
        display: none; /* flex */
        align-items: center;
        justify-content: center;
        z-index: 100;
        

}

.full-img img {

    width: 80%;
    max-width: 700px;
    max-height: 100vh;
}

.full-img span{

    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }
    .header {
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #445566;
    text-align: center;
    padding: 6% 0% 6% 0%;

    }

}